<div style="float: right; width: 700;">
	<%= link_to 'האקווריום', posts_path %>  >> <%= @user.name %> >> עדכן פרטים
</div> <BR><br>
<br>
<p class="notice"><%= notice %></p>

<div id="form_user_update">
<%= form_for(@user, :html => {:id => 'editprofile'}, :url => settings_account_path) do |f| %>
  
  	<%= f.label 'שם / כינוי' %>
    <%= f.text_field :name, :class => 'textbox' %>
    <br>
    <br>
    <br>
    <%= f.label 'כתובת דוא"ל' %>
    <%= f.email_field :email, :class => 'textbox' %>
    <br>
    <br>
    <br>

  	<%= f.label 'כמה מילים עליי' %>
    <%= f.text_field :title, :class => 'textbox' %>    <br>
    <br>
    <br>
<p style="float: left;"> 
<%= f.submit "עדכן", :class => 'btn-send' %></p>
</div> <br>

<% end %>