<div id="comments-wrapper">
	<h2>תגובות</h2>
<% @post.comments.each do |comment| %>
	<div id="comment">
		<p><%= comment.content %></p>
		<br><div class="comment-author">
			נכתב ע''י 
			<%= link_to comment.user.name, comment.user, :class => 'tooltip', :title => tooltip_user(comment.user) %>
			 בתאריך:  <%= comment.created_at %>
		</div>

		<div class="rate-comment">    
			<div class="rater-positive">
				<%= link_to comment.votes_for, vote_up_post_comment_path(comment), :method => :post, :class => 'positive' %>
			</div>

			<div class="rater-negative"><%= link_to -1*comment.votes_against, vote_down_post_comment_path(comment), :method => :post, :class => 'negative' %>
			</div>
		</div>
	</div>
	<% end %>


<div id="comment" style="border-top: solid 1px #eee;"> 
	<% if user_signed_in? %>
	<%= form_for([@post, @post.comments.build]) do |f| %>
	    <%= f.text_area :content, :class => "textareacomment" %>
	    <%= f.submit :value => 'שלח', :class => 'btn-send' %>
	<% end %>
	<% else %>
	<h2>חייבים להרשם בכדי להגיב</h2>
	<% end %>
</div>

<br><br>