<div id="side_menu">
	<div class="menutop">
	<% if !user_signed_in? %>
    <%= link_to "התחבר, מה אתה עושה פה?", user_omniauth_authorize_path(:facebook) %>
  <% else %>
  <img src="<%= current_user.profile_pic %>" class="menutop-img" width="30" height="30" />
     <%= current_user.name %> <%= user_rank(current_user) %> <br />( 
     	<%= link_to 'התנתק', '/sign_out' %>

      / 
      <%= link_to 'עדכן פרטים', '/settings/account' %>
       )

<% end %>

<div class="hcrafted">
  <%= link_to image_tag('/assets/handcraftedbyhackware.png'), 'http://hackware.me', :class => 'hcrafted-logo' %>
</div>

</div>
</div>