<!DOCTYPE html>
<html dir="rtl">
<head>
  <title>Hackwarium</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/user_nav' %>
	
<div id="logo">
	<a href="/">
		<img src="/assets/logo.png" border="0" />
	</a>
</div>



<div id="wrapper">
	<%= yield %>
</div>




</body>
</html>
