<!DOCTYPE html>
<html dir="rtl">
<head>
  <title>Hackwarium<%= yield :title %></title>
  <meta name="Description" content="האקווריום - קהילת ארדואינו ישראל. דיונים ושאלות בנושאי אלקטרוניקה, מיקרו-בקרים, תכנות ועוד." />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, property: "fb:app_id", content: "167893606688878" %>
  <%= tag :meta, property: "og:site_name", content: "האקווריום - ארדואינו ישראל" %>
  <%= tag :meta, property: "og:type", content: "hackwarium:post" %>
  <%= yield :head %>
  <%= yield :head_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  
  <script>
        $(document).ready(function() {
            $('.tooltip').tooltipster();
        });
    </script>

</head>
<body>

	<%= render 'layouts/user_nav' %>
	
<div id="logo">
	<a href="/">
		<img src="/assets/logo.png" border="0" />
	</a>
</div>



<div id="wrapper">
	<%= yield %>
</div>

</body>
</html>
